//utils styles
@import "./utils/variables.scss";
@import "./utils/visualy-hidden";
//base styles
@import "./base/base.scss";
@import "./base/reset.scss";
//components styles
@import "./components/backdrop.scss";
@import "./components/checkbox.scss";
@import "./components/container.scss";
@import "./components/logo.scss";
@import "./components/modal.scss";
@import "./components/social-media.scss";
@import "./components/mobile-menu.scss";

//layout styles
@import "./layout/header.scss";
@import "./layout/hero.scss";
@import "./layout/benefits.scss";
@import "./layout/service.scss";
@import "./layout/team.scss";
@import "./layout/clients.scss";
@import "./layout/footer.scss";
@import "./layout/portfolio.scss";
