/*Палитра цветов страницы
Цвет заголовков: #212121;
Цвет основного текста: #757575
Цвет подписей: #FFFFFF
Цвет анимаций: #2196F3
Цвета лого: #000000 #2196F3
Цвет полотен: #2F303A */
/*Переменные */
:root {
  --header-color: #212121;
  --text-color: #757575;
  --main-header-color: #ffffff;
  --animation-color: #2196f3;
  --bg-color: #f5f4fa;
  --hero-and-footer-color: #2f303a;
  --portfolio-bgc: #e5e5e5;
  --logo-color: #000000;
  --items: 2;
  --indent: 30px;
}
