.hero {
  display: flex;
  justify-content: center;
  background-color: var(--hero-and-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__img {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: var(--main-header-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.hero__btn {
  display: flex;
  padding: 0;
  background-color: var(--animation-color);
  color: var(--main-header-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
