.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1, 17;
  }
}

.modal-check {
  position: absolute;
  left: 0;
  bottom: 80px;

  &:checked + .checkbox__box {
    border-color: var(--animation-color);
    background-color: var(--animation-color);
  }
}
.checkbox__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__link {
  text-decoration-line: underline;
  color: var(--animation-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.chekbox_icon {
  fill: #ffffff;
}
.checkbox__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--animation-color);
  }
}
.checkbox__btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
